.welcome-message {
  text-align: center;
  padding: 20px;
  background-color: #f2f2f2;
}

.welcome-message h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

.welcome-message p {
  font-size: 18px;
  color: #333;
}

.player-selection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.choose-player-text {
  margin-bottom: 20px;
}

.button-container {
  display: flex; 
  justify-content: center; 
  align-items: center;
}

.player-button {
  padding: 10px 20px;
  margin: 0 5px; 
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #3498db;
  color: #ffffff;
  transition: background-color 0.3s, color 0.3s;
}

.player-button:hover {
  background-color: #2980b9;
}

